.fresh-vegetable-section {
    padding: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320))) 0;

    .fresh-images {

        .fresh-image-1 {
            background-image: url('https://themes.pixelstrap.com/fastkart/assets/images/inner-page/about-us/1.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            border-radius: 0 calc(12px + (50 - 12) * ((100vw - 320px) / (1920 - 320)));
            overflow: hidden;
            transition: 0.4s;
            height: 58vh;


            &:hover {
                transform: scale(1.08);
            }

        }

        .fresh-image-2 {
            margin-top: 30px;

            background-image: url('https://themes.pixelstrap.com/fastkart/assets/images/inner-page/about-us/2.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            height: 58vh;
            border-radius: calc(12px + (50 - 12) * ((100vw - 320px) / (1920 - 320))) 0;
            overflow: hidden;
            transition: 0.4s;

            &:hover {
                transform: scale(1.1);
            }


        }
    }

    .fresh-contain {

        height: 100%;

        .review-title {

            h4 {
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                margin-bottom: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
                color: #222;
                font-weight: 400;
            }

            h2 {
                font-size: calc(26px + (40 - 26) * ((100vw - 320px) / (1920 - 320)));
                margin-bottom: calc(12px + (30 - 12) * ((100vw - 320px) / (1920 - 320)));
                width: 80%;
                line-height: 1.3;
                position: relative;
            }

        }

        .delivery-list {

            .text-content {
                font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                line-height: 1.7;
                color: #4a5568;
                margin-bottom: calc(11px + (20 - 11) * ((100vw - 320px) / (1920 - 320)));
                padding: 0;
                margin: 0;
            }

            .delivery-box {
                display: flex;
                flex-wrap: wrap;
                gap: calc(11px + (20 - 11) * ((100vw - 320px) / (1920 - 320)));
                align-items: center;
                margin-top: 15px;

                li {
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                    display: flex;
                    align-items: center;

                    svg {
                        width: 30px;
                        height: auto;
                    }

                    .text {
                        font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
                        line-height: 1.2;
                        margin: 0;
                        font-weight: 400;

                    }
                }
            }
        }

    }
}


.client-section {
    background-color: #f8f8f8;
    padding: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320))) 0;


    .about-us-title {
        text-align: center;

        h4 {
            font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
            color: var(--theme-color);
            font-family: "Pacifico", cursive;
            color: #0da487;
        }

        h2 {
            font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(28px + (41 - 28) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.3;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: calc(106px + (175 - 106) * ((100vw - 320px) / (1920 - 320)));
                height: 3px;
                bottom: calc(-7px + (6 - 7) * ((100vw - 320px) / (1920 - 320)));
                background: #ffa53b;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .all-client {
        margin: 0 -10px;
        opacity: 1;
        width: 100%;

        .client {

            background-color: #fff;
            padding: calc(27px + (50 - 27) * ((100vw - 320px) / (1920 - 320)));
            border-radius: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
            position: relative;

            &:hover {
                h2 {
                    opacity: .09 !important;
                    margin-right: 9px;
                }
            }

            .client-icon {

                width: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
                height: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
                margin-bottom: 14px;
                margin-top: -11px;

                img {
                    width: 74%;
                    height: 100%;
                    object-fit: contain;
                }

            }

            .client-detail {

                h2 {
                    position: absolute;
                    right: calc(24px + (34 - 24) * ((100vw - 320px) / (1920 - 320)));
                    top: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: #4a5568;
                    opacity: .05;
                    font-size: calc(52px + (70 - 52) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 800;
                    transition: 0.4s;

                }

                h4 {
                    font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1920 - 320)));
                    margin-bottom: 7px;
                    font-weight: 600;
                    position: relative;
                    transition: 0.3s;
                    line-height: 1.2;
                }

                p {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: #4a5568;
                    margin: 0 auto;
                    line-height: 1.7;
                    margin-bottom: -5px;
                    transition: 0.3s;
                }

            }

        }




    }
}




#team-section {
    padding: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320))) 0;


    .about-us-title {
        text-align: center;

        h4 {
            font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
            color: var(--theme-color);
            font-family: "Pacifico", cursive;
            color: #0da487;
        }

        h2 {
            font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(28px + (41 - 28) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.3;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: calc(106px + (175 - 106) * ((100vw - 320px) / (1920 - 320)));
                height: 3px;
                bottom: calc(-7px + (6 - 7) * ((100vw - 320px) / (1920 - 320)));
                background: #ffa53b;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .team-member {
        margin: 0 10px;

        &:hover {
            img {
                filter: grayscale(0) !important;
            }
        }



        .member-img {
            width: 50%;
            height: 40%;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            margin: 0 auto;



            img {
                filter: grayscale(1);
                display: block;
                max-width: 100%;
                height: auto;
                transition: 0.4s;

            }
        }

        .member-detail {
            text-align: center;
            margin-top: 20px;

            h3 {
                font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
                letter-spacing: 0.7px;
                font-weight: 700;
                line-height: 1.2;
            }

            h5 {
                margin-top: 6px;
                letter-spacing: 0.5px;
                color: #4a5568;
                font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
                line-height: 1.2;
            }

            p {
                font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                line-height: 1.6;
                color: #4a5568;
                margin: 9px auto 14px;
                width: 80%;
                overflow: hidden;
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 14px;
                position: relative;
                margin-top: 15px;
                transition: 0.3s;
                padding: 0;
                margin-left: 0;

                .fb-bg {
                    color: #4267B2 !important;

                    &:hover {
                        background-color: #4267B2;
                        color: #fff !important;
                    }
                }

                .pint-bg {
                    color: #c8232c !important;

                    &:hover {
                        background-color: #c8232c;
                        color: #fff !important;
                    }
                }

                .twitter-bg {
                    color: #00acee !important;

                    &:hover {
                        background-color: #00acee;
                        color: #fff !important;
                    }
                }

                .insta-bg {
                    color: #F56040 !important;

                    &:hover {
                        background-color: #F56040;
                        color: #fff !important;
                    }
                }

                li {
                    font-size: 14px;
                    display: inline-block;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        font-size: 16px;
                        border-radius: 5px;
                        background-color: #ededed;
                        transition: 0.4s;
                    }
                }
            }

        }
    }
}

#review-section {
    padding: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320))) 0;
    background-color: #f8f8f8;

    .about-us-title {
        text-align: center;

        h4 {
            font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
            color: var(--theme-color);
            font-family: "Pacifico", cursive;
            color: #0da487;
        }

        h2 {
            font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(28px + (41 - 28) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.3;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: calc(106px + (175 - 106) * ((100vw - 320px) / (1920 - 320)));
                height: 3px;
                bottom: calc(-7px + (6 - 7) * ((100vw - 320px) / (1920 - 320)));
                background: #ffa53b;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .all-review {

        .review-box {
            margin: 0 10px;
            background-color: #fff;
            padding: calc(18px + (34 - 18) * ((100vw - 320px) / (1920 - 320)));
            border-radius: 10px;
            z-index: 0;
            position: relative;
            overflow: hidden;

            .rating {
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;

                li {
                    font-size: 14px;
                    display: inline-block;
                    line-height: 0;

                    .icon1 {
                        fill: #ffb321;
                        width: 14px;
                        height: 14px;
                        stroke: #ffb321;
                    }

                    .icon {
                        width: 14px;
                        height: 14px;
                        stroke: #ffb321;
                    }


                }

            }


            i {
                position: absolute;
                font-size: 106px;
                opacity: 0.05;
                z-index: -1;
                transform: rotate(15deg);
                bottom: -30px;
                right: -8px;
                transition: 0.3s;

                &:hover{
                    transform: scale(1.5) rotate(5deg) translate(-5px,-5px);
                    color: #087862;


                }
            }

            h3 {
                font-weight: 400;
                margin: 10px 0 13px;
                font-size: 20px;
                line-height: 1.5;

            }

            p {
                color: #4a5568;
                line-height: 1.7;
                margin-bottom: 23px;
                font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
            }

            .reviewer-profile {
                display: flex;
                flex-wrap: wrap;
                gap: calc(12px + (19 - 12) * ((100vw - 320px) / (1920 - 320)));
                align-items: center;

                .reviewer-image {
                    width: calc(65px + (75 - 65) * ((100vw - 320px) / (1920 - 320)));
                    height: auto;
                    border-radius: 8px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .reviewer-name {
                    h4 {
                        font-weight: 700;
                        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                        color: #0da487;
                    }

                    h6 {
                        color: #4a5568;
                        margin-top: 6px;
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
                        line-height: 1.2;
                        margin: 0;
                        font-weight: 400;
                    }
                }


            }




        }
    }




}























#blog-section {
    padding: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320))) 0;

    .about-us-title {
        text-align: center;

        h4 {
            font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
            color: var(--theme-color);
            font-family: "Pacifico", cursive;
            color: #0da487;
        }

        h2 {
            font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(28px + (41 - 28) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.3;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: calc(106px + (175 - 106) * ((100vw - 320px) / (1920 - 320)));
                height: 3px;
                bottom: calc(-7px + (6 - 7) * ((100vw - 320px) / (1920 - 320)));
                background: #ffa53b;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .blogs {
        margin: 0 10px;

        .blog-box {
            width: 18%;

            &:hover {

                .blog-detail h5 {
                    color: #0da487 !important;
                    rotate: initial;
                }

                .blog-img img {
                    transform: scale(1.1) rotate(5deg);


                }
            }

            .blog-img {
                border-radius: 5px;
                overflow: hidden;

                img {
                    display: block;
                    transition: 0.4s;
                    width: 100%;
                    object-fit: contain;
                }
            }

            .blog-detail {
                margin-top: 15px;

                h6 {
                    color: #4a5568;
                    margin-bottom: 3px;
                    font-weight: 600;
                }

                h5 {
                    color: #222;
                    line-height: 1.5;
                    font-weight: 600;
                    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                    transition: 0.4s;
                }
            }
        }
    }


}