table {
    img{
        width: 100%;
    }
    tr{
        vertical-align: middle;
        text-align: center  ;
    }
    i{
        cursor: pointer;
        margin: 0 0 0 5px;
        padding: 8px;
        border-radius: 50%;
        border: 1px solid #cecece;
        
    }
    span{
       margin-left: 8px;
    }
}

#cart{
    padding: 25px 0;
}

