@media (max-width:576px) {
    .header-middle {
        display: none;
    }

    .header-top {
        display: none;
    }

    .second {
        display: flex !important;
        z-index: 5487;
    }


    .modal {
        z-index: 564343343;
        .modal-dialog {
            .modal-content {
                height: 97vh !important;

                #close {
                    top: 10px !important;
                    right: 13px !important;
                    padding: 10px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }


    .services {
        gap: 10px;
    }
    .bank-footer{
        display: flex;
    }

    #First{
        height: 30vh !important;  
        
       
    }

    .slick-prev{
        left: 80% !important;
    }

    .context{
    top: 12% !important;
    }

    footer{

        .footer-title h4{
            margin: 15px 0;
        }

    }


    .filter-category{
        ul li{
            display: flex;
            align-items: center;
        }
    }
    .grid-icons{
        padding-top: 15px;
    }

    .category-dropdown{
        padding-top: 15px;

    }

    .filter-button{
        display: flex;
        margin-top: 15px;
    }



    #service-section{
        display: none !important;
    }
    
    footer{
        margin-top: 30px;
    }
    
    .dashboard-left-sidebar{
        display: none;
    }
    
    .left-dashboard-show{
        outline: none;
        border: none !important;
        padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 5px;
        color: #fff !important;
        background: linear-gradient(90deg, #ff6b6b 0%, #ff4f4f 100%);
    }

    .slick-prev{
        z-index: 2;
        left: 50vh;
    }

    #category-section-13 .all-delivers .deliver1{
        background-image: none !important;
        background-color:#eaf5f5 ;

        .deliver1-detail{
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 100% !important;
        }
    }

   .ser-item{
    width:100% !important;
  
   }

   .blogs{
    gap: 25px;
   }

   .blog-box{
    width: 100% !important;

    .blog-img{
        height: 250px;
        width: 100%;
    
        img{
            object-fit: contain;
        }
    }
   }

   .client{
    margin-bottom: 15px;
   }

   .fresh-image-1, .fresh-image-2{
    height: 25vh !important;
   }

   .grid-icons{
    display: none;
   }

   .product-detail{
   margin: 0 auto;
   }



   .orderone{

    order: 1;

   

   }

   .ordertwo{
    order: -1;
   }

   

   .right-box-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .slider-img{
   margin-left: 35px !important;
   }


   .payment-option ul{

    display: flex; 
     flex-direction: row; 
    justify-content: center;

   }

   .payment-option h4{
    text-align: center;
   }


   

















}

