@media (max-width: 576px) {
  .header-middle {
    display: none;
  }
  .first {
    display: none;
  }
  .second {
    display: flex !important;
  }
  #First {
    height: 80vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body header {
  width: 100%;
}
body header .header-top {
  padding: 10px 0;
  background-color: #239698;
}
body header .header-top .ht-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
body header .header-top .ht-all .logo {
  width: calc(120px + 42 * (100vw - 320px) / 1600);
  font-weight: bolder;
}
body header .header-top .ht-all .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}
body header .header-top .ht-all .center-box {
  width: 815px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(16px + 13 * (100vw - 320px) / 1600);
}
body header .header-top .ht-all .center-box .location {
  cursor: pointer;
  color: #fff;
  display: flex;
  margin-right: 20px;
  align-items: center;
}
body header .header-top .ht-all .center-box .location i:first-child {
  margin-right: 9px;
  font-size: 22px;
}
body header .header-top .ht-all .center-box .location .icon2 {
  margin-left: 10px;
}
body header .header-top .ht-all .center-box .location span {
  font-size: 16px;
}
body header .header-top .ht-all .center-box .search {
  width: 670px;
  background-color: #f3f4f7;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #239698;
  overflow: hidden;
}
body header .header-top .ht-all .center-box .search input {
  border: none;
  outline: none;
  width: 90%;
  background-color: transparent;
  height: 55px;
  padding: 8px;
  color: #222;
  font-size: 16px;
}
body header .header-top .ht-all .center-box .search i {
  color: #239698;
  font-weight: 200px;
  font-size: 27px;
  cursor: pointer;
}
body header .header-top .ht-all .center-box .search .btn {
  background-color: #ffb803;
  font-weight: 500;
  border: 1px solid #ffb803;
  padding: 15px 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
body header .header-top .ht-all .support-box {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 4px;
  gap: 9px;
}
body header .header-top .ht-all .support-box .support-image img {
  width: 33px;
  height: auto;
}
body header .header-top .ht-all .support-box .support-number {
  text-align: right;
}
body header .header-top .ht-all .support-box .support-number p {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0;
}
body header .header-top .ht-all .support-box .support-number span {
  color: #fff;
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
body header .close {
  opacity: 0;
  visibility: hidden;
}
body header .header-middle {
  padding: 20px 0;
  background-color: #fff;
}
body header .header-middle .hm-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header-middle .hm-all nav {
  z-index: 1;
}
body header .header-middle .hm-all nav .option-list-1 {
  color: #222;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
body header .header-middle .hm-all nav .option-list-1 .shop-drop {
  position: absolute;
  top: 30px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}
body header .header-middle .hm-all nav .option-list-1 .shop-drop p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .shop-drop p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .shop-drop p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .shop-drop p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .shop-drop .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .product-drop {
  position: absolute;
  top: 30px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 225px;
}
body header .header-middle .hm-all nav .option-list-1 .product-drop p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .product-drop p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .product-drop p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .product-drop p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .product-drop .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop {
  position: absolute;
  top: 40px;
  right: -203px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .megamenu-drop {
  background-image: url("/assets/images/imagevp.jfif  ");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 40px;
  left: -300px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 25px 20px;
  border-radius: 10px;
  width: 830px;
}
body header .header-middle .hm-all nav .option-list-1 .megamenu-drop h5 {
  color: #239698;
}
body header .header-middle .hm-all nav .option-list-1 .megamenu-drop a {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .megamenu-drop a::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .megamenu-drop a:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .megamenu-drop a:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .megamenu-drop .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .blog-drop {
  position: absolute;
  top: 30px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}
body header .header-middle .hm-all nav .option-list-1 .blog-drop p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .blog-drop p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .blog-drop p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .blog-drop p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .blog-drop .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .page-drop {
  position: absolute;
  top: 30px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 210px;
}
body header .header-middle .hm-all nav .option-list-1 .page-drop .light {
  color: #239698;
}
body header .header-middle .hm-all nav .option-list-1 .page-drop p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .page-drop p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .page-drop p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .page-drop p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .page-drop .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page {
  position: absolute;
  top: 30px;
  right: -203px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page1 {
  position: absolute;
  top: 30px;
  right: -203px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page1 p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page1 p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page1 p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page1 p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-page1 .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-seller {
  position: absolute;
  top: 30px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-seller p {
  transition: 0.5s;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  font-weight: 600;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-seller p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
  transition: 0.5s;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-seller p:hover::before {
  width: 65px;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-seller p:hover {
  letter-spacing: 0.03em;
  background-color: transparent;
}
body header .header-middle .hm-all nav .option-list-1 .nested-drop-seller .first {
  margin-top: -3px;
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  background-color: #fff;
  padding: 18px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  border-radius: 10px;
  position: absolute;
  top: 35px;
  height: 250px;
  text-decoration: none;
  text-align: center;
  z-index: 0;
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu .item {
  width: 18%;
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu .item:hover img {
  box-shadow: 5px 20px 40px 0 rgba(34, 34, 34, 0.07);
  transform: translateY(-4px);
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu .item:hover p {
  color: #239698;
  font-weight: 600;
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu .item:hover .item p ::before {
  width: 100%;
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu .item img {
  display: block;
  height: 150px;
  transition: 0.4s;
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu .item span {
  display: inline-block;
  font-size: calc(14px + 2 * (100vw - 1200px) / 720);
  margin-bottom: -6px;
  margin-top: 14px;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 .dropdownmenu .item span::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -2px;
  background-color: #239698;
  opacity: 0.3;
  border-radius: 50px;
}
body header .header-middle .hm-all nav .option-list-1 li {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
body header .header-middle .hm-all nav .option-list-1 li span,
body header .header-middle .hm-all nav .option-list-1 li i {
  transition: 0.4s;
}
body header .header-middle .hm-all nav .option-list-1 li:hover .icon2,
body header .header-middle .hm-all nav .option-list-1 li:hover span {
  color: #239698;
}
body header .header-middle .hm-all nav .option-list-1 li i {
  padding-left: 8px;
}
body header .header-middle .hm-all nav .option-list-1 li .new {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: 25px;
  background-color: #ff4f4f;
  font-size: 10px;
  padding: 1px 4px;
  color: #fff;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body header .header-middle .hm-all nav .option-list-1 .pages {
  position: relative;
}
body header .header-middle .hm-all .right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
body header .header-middle .hm-all .right-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
}
body header .header-middle .hm-all .right-menu ul i {
  position: relative;
}
body header .header-middle .hm-all .right-menu ul li {
  cursor: pointer;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart {
  position: absolute;
  top: 33px;
  right: -10px;
  background-color: #fff;
  z-index: 1001;
  width: 320px;
  border-radius: 10px;
  padding: calc(14px + 16 * (100vw - 320px) / 1600) calc(11px + 9 * (100vw - 320px) / 1600);
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
}
body header .header-middle .hm-all .right-menu ul li .drop-heart .head {
  position: relative;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart .head .close-button {
  position: absolute;
  top: -10px;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #4a5568;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart .button-group .btn {
  border: 2px solid #239698;
  padding: 6px 10px;
  border-radius: 5px;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart .button-group .btn1 {
  color: #239698;
  background-color: #fff;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart .button-group .btn2 {
  background-color: #239698;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart img {
  width: 87px;
  background: #f8f8f8;
  padding: 10px;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart .text h5 {
  margin-top: 15px;
  font-size: calc(15px + 2 * (100vw - 320px) / 1600);
  color: #239698;
  font-weight: 500;
}
body header .header-middle .hm-all .right-menu ul li .drop-heart .price-box h4 {
  color: #239698;
  font-weight: 700;
}
body header .header-middle .hm-all .right-menu ul li i {
  color: #000000;
  font-size: calc(18px + 4 * (100vw - 320px) / 1600);
}
body header .header-middle .hm-all .right-menu ul li a {
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 100%;
  padding: 10px;
  position: relative;
  text-decoration: none;
}
body header .header-middle .hm-all .right-menu ul li a span {
  color: #fff;
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: 0;
  background-color: #239698;
  font-weight: 600;
  border-radius: 100%;
  font-size: 10px;
}
body header .header-middle .hm-all .right-menu ul .same-icon {
  position: relative;
}
body header .header-middle .hm-all .right-menu ul .same-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -15px;
  width: 1px;
  height: 80%;
  background-color: #ececec;
}
body header .header-middle .hm-all .right-menu .btn-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #239698;
  position: relative;
  padding: 16px 18px;
  z-index: 0;
}
body header .header-middle .hm-all .right-menu .btn-mobile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  top: 0;
  left: 0;
  background-color: #239698;
  opacity: 0.1;
  z-index: -1;
}
body header .header-middle .hm-all .right-menu .btn-mobile .mobile-image {
  margin-right: 11px;
}
body header .header-middle .hm-all .right-menu .btn-mobile .mobile-name p {
  font-size: calc(17px + 1 * (100vw - 320px) / 1600);
  line-height: 1.2;
  margin: 0;
  font-weight: 400;
}
body .second {
  width: 100%;
  padding: 20px 0;
  background-color: #239698;
  position: sticky;
  top: 0;
  left: 0;
}
body .second .left-side {
  width: 50%;
}
body .second .left-side img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .second .left-side i {
  color: #fff;
  cursor: pointer;
}
body .second .right-side .second-icons {
  margin-left: auto;
  list-style: none;
}
body .second .right-side .second-icons a {
  color: #fff;
}
body #First {
  background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/grocery/banner/1.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  position: relative;
}
body #First .context {
  position: absolute;
  bottom: 30%;
  left: 8%;
}
body #First .context h6 {
  color: #239698;
}
body #First .context h1 {
  font-size: calc(22px + 28 * (100vw - 320px) / 1600);
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 7px;
  width: 100%;
}
body #First .context h2 {
  font-size: calc(16px + 20 * (100vw - 320px) / 1600);
  margin-bottom: 10px;
  font-weight: 500;
}
body #First .context h5 {
  font-size: calc(15px + 3 * (100vw - 320px) / 1600);
}
body #First .context button {
  background-color: #239698;
  padding: calc(8px + 3 * (100vw - 320px) / 1600) calc(16px + 8 * (100vw - 320px) / 1600);
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
}
body #First .context button i {
  transition: 0.5s;
}
body #First .context button:hover i {
  transform: translateX(7px);
}
body #Second .slick-track .slick {
  background-image: url("https://themes.pixelstrap.com/fastkart/assets/images/grocery/banner/2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 30px 25px;
}
body #Second .slick-track .slick .content {
  width: 70%;
}
body #Second .slick-track .slick .content h5 {
  font-size: calc(15px + 3 * (100vw - 320px) / 1600);
  letter-spacing: 1px;
  font-weight: 300 !important;
}
body #Second .slick-track .slick .content h4 {
  font-size: calc(16px + 6 * (100vw - 320px) / 1600);
  line-height: 1.4;
}
body #Second .slick-track .slick .content button {
  color: #239698;
  font-size: 15px;
}
body #category-section-3 {
  padding: 30px 0;
}
body #category-section-3 .all-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
body #category-section-3 .all-product .product {
  width: 15%;
  background-color: #f1f1f3;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
body #category-section-3 .all-product .product .product-name h4 {
  font-size: calc(17px + 1 * (100vw - 320px) / 1600);
  line-height: 1.2;
  transition: 0.4s;
}
body #category-section-3 .all-product .product .product-name h6 {
  margin-top: 5px;
  color: #4a5568;
  font-size: calc(13px + 1 * (100vw - 320px) / 1600);
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 15px;
}
body #category-section-3 .all-product .product .product-image img {
  width: 100%;
}
body #category-section-3 .all-product .product button {
  position: absolute;
  left: 35px;
  transform: translateY(25px);
  background-color: #239698;
  border: 1px solid #239698;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
body #category-section-3 .all-product .product:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 150, 152, 0.15);
  border-radius: 12px;
  opacity: 1;
}
body #category-section-3 .all-product .product:hover button {
  transform: translateY(-35px);
}
body #category-section-3 .all-product .product:hover .product-name h4 {
  color: #239698;
}
body #category-section-3 .all-product .product:hover .product-image img {
  transform: scale(1.03);
  opacity: 0.7;
}
body #category-section-4 {
  padding: 20px 0;
}
body #category-section-4 .title {
  margin-bottom: 20px;
}
body #category-section-4 .elements .card {
  border: 1px solid #ececec;
  border-radius: 8px;
  padding: 15px;
  position: relative;
}
body #category-section-4 .elements .card .element-img {
  text-align: center;
}
body #category-section-4 .elements .card .element-img img {
  width: 70%;
  height: calc(80px + 60 * (100vw - 320px) / 1600);
  -o-object-fit: contain;
     object-fit: contain;
  margin: 20px 0 !important;
}
body #category-section-4 .elements .card .detail .stars i {
  color: #ffb803;
  font-size: 14px;
}
body #category-section-4 .elements .card .detail .name {
  width: 70%;
  margin-top: 5px;
  text-transform: capitalize;
  text-align: left;
  transition: 0.4s;
  color: #222 !important;
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
  line-height: 1.2;
  font-weight: 400;
}
body #category-section-4 .elements .card .detail .price {
  margin-top: 5px;
  font-weight: 500;
  color: #239698;
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
  line-height: 1.2;
}
body #category-section-4 .elements .card .detail .price del {
  margin-left: 10px;
  color: #4a5568;
  font-weight: 400;
}
body #category-section-4 .elements .card .detail button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 7px 11px;
  background-color: #239698;
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 10px;
}/*# sourceMappingURL=style.css.map */